.feed-item {
    display: flex;
    align-items: center;
    background-color: rgb(249, 249, 249);
    margin-bottom: 20px;
    padding-right: 10px;
    position: relative;
    box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.3);
    margin-left: 17rem;
    margin-right: 17rem;
}

.feed-item__image-wrapper img {
    width: 400px;
    margin-right: 10px;
}

.feed-item__image-placeholder {
    width: 220px;
    height: 150px;
    margin: 15px;
    background-color: rgb(225,225,225);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(150,150,150);
    font-size: 24px;
}

.feed-description{
    display: inline-flex; /* Makes the container behave like flex in a row */
    flex-direction: row;  /* Ensure the elements inside are laid out horizontally */
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Vertically center any items inside */
}
}

.feed-item h2 {
    font-size: 32px;
}

.feed-item__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 2px;
}
