.feed-item {
    display: flex;
    align-items: center;
    background-color: rgb(240,240,240);
    margin-bottom: 20px;
}

.feed-item__image-wrapper img {
    max-width: 400px;
    margin-right: 10px;
}

.feed-item h2 {
    font-size: 24px;
}


