.feed-item {
    display: flex;
    align-items: center;
    background-color: rgb(240,240,240);
    margin-bottom: 20px;
}

.feed-item__image-wrapper img {
    max-width: 200px;
    margin-right: 10px;
}

